{% extends 'layout.html' %}
{% block heading %}
<h1 id="b777ef2d-ac03-cea3-ccc5-52beeee5222a" data-w-id="b777ef2d-ac03-cea3-ccc5-52beeee5222a" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;" class="h1">
    About
</h1>
{% endblock %}
{% block body %}
	<div class="features">
		<div class="container">
			<div class="h2-container">
				<h2 class="h2"><span class="text-span">Providing live data and recorded Data for Temperature, Humidity and Air Pressure: </span>Represented in individual Graphs or in combined ones<br></h2>
			</div>
			<div class="w-row">
				<div class="w-col w-col-4">
					<img src="static/index_files/6044e4145a521e2bef5927dd_pngegg.png" loading="lazy" height="100" alt="">
					<h1 class="heading-3">Temperature Sensor</h1>
					<a href="/temperature" class="button-2 w-button">See More</a>
				</div>
				<div class="w-col w-col-4">
					<img src="static/index_files/6044e485e952912dfc91e0d2_clipart2372103.png" loading="lazy" height="100" alt="" class="image-7">
					<h1 class="heading-4">Humidity Sensor</h1>
					<a href="/humidity" class="button-2 w-button">See More</a>
				</div>
				<div class="w-col w-col-4">
					<img src="static/index_files/6044e4b94631b02ca1f73d21_guage__meter__pipe__pressure__temperature-512.png" loading="lazy" height="100" alt="">
					<h1 class="heading-5">Air Pressure Sensor</h1>
					<a href="/pressure" class="button-2 w-button">See More</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}