{% extends 'layout.html' %}
{% block meta %}
    <link rel="stylesheet" href="static/css/temperature.css">
{% endblock %}
{% block heading %}
<h1 id="b777ef2d-ac03-cea3-ccc5-52beeee5222a" data-w-id="b777ef2d-ac03-cea3-ccc5-52beeee5222a" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;" class="h1">
    Temperature Data
</h1>
{% endblock %}
{% block body %}
	<script async="" src="static/js/Line Chart_files/analytics.js"></script>
    <script src="static/js/Line Chart_files/Chart.min.js"></script>
	<script src="static/js/Line Chart_files/utils.js"></script>
	<div style="width:80%; margin-left: auto; margin-right: auto; margin-top: 3em; margin-bottom: 1.5em;">
        <div class="footer-column" style="margin-left: auto; margin-right: auto;">
            <div class="footer-links-list" style="width: 50%;">
                <h2 class="h2"><span style="font-size: smaller; padding-bottom: 2em;">Current {{ name }}: </span><br><span id="current" style="font-size: smaller; padding-bottom: 2em;"></span></h2>
            </div>
            <div class="footer-links-list" style="width: 50%;">
                <h2 class="h2"><span style="font-size: smaller;">Average {{ name }}: </span><br><span id="avg" style="font-size: smaller;"></span></h2>
            </div>
            <div class="footer-links-list" style="width: 40%; padding-bottom: 2em; margin-left: auto; margin-right: auto;">
                <h2 class="h2" id="timeText" style="font-size: 13pt;">Time Period: </h2>
                Start: <input type="datetime-local" id="timeMin" name="time" value="2021-03-09T00:00" min="2021-03-08T00:00" max="2021-03-09T15:00" style="padding-bottom: 0.5em; border: none;">
                End: <input type="datetime-local" id="timeMax" name="time" value="2021-03-09T00:00" min="2021-03-08T00:00" max="2021-03-09T15:00" style="padding-bottom: 1em; border: none;">
                <button class="button-2" id="show" onclick="show()">Show</button>
                <span style="padding-top: 0.4em;"></span>
                <button class="button-2" id="reset" onclick="range = false; clicked = true; update();">Reset to default</button>
            </div>
        </div>
        
        <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
                <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
                <div class=""></div>
            </div>
        </div>
		<canvas id="canvas" style="display: block; width: 1428px; height: 714px;" width="1428" height="714" class="chartjs-render-monitor"></canvas>
	</div>
    <input type="hidden" id="var" value={{ var }}>
    <input type="hidden" id="name" value={{ name }}>
    <input type="hidden" id="unit" value={{ unit }}>
    <input type="hidden" id="min" value={{ min }}>
    <input type="hidden" id="max" value={{ max }}>
    <input type="hidden" id="color" value={{ color }}>
	<script src="static/js/data.js"></script>
{% endblock %}